.container {
    max-width: 1400px;
    margin-bottom: 20px;
    clear: both;
}

body {
    
    margin: 0 auto;
    background: #fff;
}

h1 {
    color: #666;
    font-family: 'arial','sans serif';
    text-align: center;
}

h2 {
    text-align: center;
}

footer {
    border-top: solid 1px #000;
}

.navbar {
    border: none;
}

.nav li a {
    font-size: 1.2em;
    
}

.navbar-toggle {
    border: 1px solid black;
}

.navbar-toggle .icon-bar {
    background: black;
}

.img-featured {
    margin: 0 auto;
    max-width: 600px;
    height: 400px;
}

.carousel-indicators {
    
    bottom: 0px;
}

.carousel-caption {
    background: rgba(0,0,0,0.3);
}