<div class="featured-container">
<h1>Featured Products</h1>
<%= render 'static_pages/featured_products' %>
<hr>
</div>
<div class="products-container">

<h1>Products</h1>
<% cache(cache_key_for_products) do %>
<%= render @products %>
<% end %>
</div>
<div>
  <% if signed_in? && current_user.admin? %>
  <p>
    <%= button_to 'New Product', new_product_path, :type =>"button", :class =>"btn btn-default btn-new-product", :method => :get %>
  </p>

  <% end %>
</div>