<p id="notice"><%= notice %></p>

<h1>Products</h1>
  
  
    <%= render @products %>
  
  <div>
    <p>
    <%= button_to 'New Product', new_product_path, :type =>"button", :class =>"btn btn-default btn-new-product", :method => :get %>
  </p>
</div>

